<tr
  id="tr_<%= model.id %>"
  data-controller="show"
  data-url="<%= url_for({ action: 'reorder', id: model.id }) %>"
  data-id="<%= model.id %>"
>
  <%= yield %>
  <td>
    <%= render partial: 'index_tr_actions', locals: { model: model } %>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'app_models', app_id: model.id }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'list' %>
        <span class="ml-1"><%= t('.app_models.index.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
