<td>
  <%= svg_tag 'bars', class: 'icon is-small text-grey is-drawable' %>
  <span><%= model.type_i18n %></span>
</td>
<td><%= model.name %></td>
<td><%= model.appid %></td>
<td><%= model.base_url %></td>